:root{
    --blue: #0084fd;
    --green: #54c688;
    --red: #fe8a8a;
    --yellow: #f9c474;
    --purple: #9692e6;
    --grey: #333333;
    
    --light-blue: #b9ddff;
    --light-green: #caf0db;
    --light-red: #fed2d1;
    --light-yellow: #ffe7c3;
    --light-purple: #d5d4f4;

    --text-grey: #484c4b;
    
    --mobile-standard-padding: 8px 16px;

}




/* ---------------- Generic Stiles ---------------- */
button{
    border-radius: 50px;
    color: white;
    margin: 1rem 0;
}
button *{
    color: white;
}
/* ---------------- Generic Stiles ---------------- */

/* ---------------- Header ---------------- */
header{
    background-color: var(--blue);
    padding: var(--mobile-standard-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header *{
    color: white;
}
.header__menu-bars{
    padding: var(--mobile-standard-padding);
    margin: 0;
    margin-right: -16px;
    background-color: transparent;
    cursor: pointer;
}
/* ---------------- / Header ---------------- */
/* ---------------- GET DEMO ---------------- */
.get-demo{
    padding: 32px 16px;
}
.get-demo__element{
    width: 100%;
    border-radius: 15px;
    padding: var(--mobile-standard-padding);
}
.get-demo__element__title{
    font-size: 1.2em;
    margin: 1rem 0;
}
.get-demo__element__text{
    font-size: 0.8em;
    line-height: 1.2rem;
}
.get-demo__element__img{
    width: 80%;
}
.get-demo__element__img--half-height{
    margin-bottom: -50%;
}



.get-demo__element__button--blue-bg{
    background-color: var(--blue);
}


.get-demo__element--light-blue-bg{
    background-color: var(--light-blue);
}



.get-demo__element__text--blue{
    color: var(--blue);
}

/* ---------------- / GET DEMO ---------------- */
