:root {
  --blue: #0084fd;
  --green: #54c688;
  --red: #fe8a8a;
  --yellow: #f9c474;
  --purple: #9692e6;
  --grey: #333333;

  --light-blue: #b9ddff;
  --light-green: #caf0db;
  --light-red: #fed2d1;
  --light-yellow: #ffe7c3;
  --light-purple: #d5d4f4;

  --transparent-white: rgba(250, 250, 250, 0.8);
  --text-grey: #484c4b;

  --mobile-standard-padding: 8px 16px;
  --mobile-text-size: 0.7em;
  --mobile-line-hight: 1.2rem;
  --mobile-gap: 16px;
}

/* ---------------- Generic Stiles ---------------- */
* {
  color: var(--text-grey);
}
button {
  border-radius: 50px;
  color: white;
  margin: 1rem 0;
  cursor: pointer;
}
button * {
  color: white;
}
a {
  text-decoration: underline;
}
.source,
.source * {
  font-size: 0.6rem;
}
.relative{
    position: relative;
}
/* ---- Colors ---- */
/* buttons */
.get-demo__element__button--blue-bg {
  background-color: var(--blue);
}
/* / buttons */

/* backgrounds */
.get-demo__element--light-blue-bg {
  background-color: var(--light-blue);
}
.get-demo__element--light-green-bg,
.testimonial__element--green-bg {
  background-color: var(--light-green);
}
.get-demo__element--light-red-bg,
.testimonial__element--red-bg {
  background-color: var(--light-red);
}
.get-demo__element--light-yellow-bg,
.testimonial__element--yellow-bg {
  background-color: var(--light-yellow);
}
.get-demo__element--light-purple-bg {
  background-color: var(--light-purple);
}
/* / backgrounds */

/* texts */
.get-demo__element__text--blue {
  color: var(--blue);
}
.get-demo__element__text--green,
.get-demo__element__icon--green {
  color: var(--green);
}
.get-demo__element__text--red,
.get-demo__element__icon--red {
  color: var(--red);
}
.get-demo__element__text--yellow,
.get-demo__element__icon--yellow {
  color: var(--yellow);
}
.get-demo__element__text--purple,
.get-demo__element__icon--purple {
  color: var(--purple);
}
/* / texts */
/* ---- / Colors ---- */
/* ---------------- Generic Stiles ---------------- */

/* ---------------- Header ---------------- */
header {
  background-color: var(--blue);
  padding: var(--mobile-standard-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header * {
  color: white;
}
.header__menu-bars {
  padding: var(--mobile-standard-padding);
  margin: 0;
  margin-right: -16px;
  background-color: transparent;
}
/* ---------------- / Header ---------------- */
/* ---------------- GET DEMO ---------------- */
.get-demo {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: var(--mobile-gap);
  text-align: center;
}
.get-demo__element {
  width: 100%;
  border-radius: 15px;
  padding: var(--mobile-standard-padding);
  overflow: hidden;
}
.get-demo__element--text-align-left {
  text-align: left;
}

.get-demo__element__icon {
  font-size: 5em;
}

.get-demo__element__title {
  font-size: 1.2em;
  margin: 1rem 0;
}
.get-demo__element__text {
  font-size: var(--mobile-text-size);
  line-height: var(--mobile-line-hight);
}
.get-demo__element__img {
  width: 80%;
}
.get-demo__element__img--half-height {
  margin-bottom: -16px;
}
.source,
.source * {
  font-size: 0.6rem;
  margin: 16px 0;
}

/* ---------------- / GET DEMO ---------------- */
/* ---------------- PLANNING ---------------- */
.planning {
  padding: var(--mobile-standard-padding);
  padding-bottom: 24px;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  gap: var(--mobile-gap);
}
.planning * {
  color: white;
}
.planning__element {
  border-radius: 25px;
}
.planning__element--white-bg {
  background-color: white;
  padding: var(--mobile-standard-padding);
  text-align: center;
}
.planning__element--white-bg * {
  color: var(--text-grey);
}
.planning__element__img {
  width: 100%;
  padding: 16px;
  margin: 24px 0;
}
.planning__element__title {
  margin: 16px 0;
}
.planning__element__text {
  font-size: var(--mobile-text-size);
  line-height: var(--mobile-line-hight);
}
.planning__element__text--italic {
  font-style: italic;
}
.planning__element__btn {
  background-color: var(--light-purple);
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
}
/* ---------------- / PLANNING ---------------- */
/* ---------------- TESTIMONIAL ---------------- */
.testimonial {
  padding: var(--mobile-standard-padding);
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: var(--mobile-gap);
  text-align: center;
}
.testimonial__element {
  border-radius: 15px;
}
.testimonial__element--padding {
  padding: var(--mobile-gap);
}
.testimonial__element__subtitle {
  font-size: 0.6rem;
  font-weight: 500;
}
.testimonial__element__title {
  color: var(--purple);
  margin: 16px 0;
}
.testimonial__element__photo {
  width: 70%;
  border-radius: 50%;
}
.testimonial__element__text {
  font-size: var(--mobile-text-size);
  line-height: var(--mobile-line-hight);
}
.testimonial__element__name {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 16px 0;
}
/* ---------------- / TESTIMONIAL ---------------- */
/* ---------------- BENEFIT ---------------- */
.benefit {
  background-color: var(--purple);
  padding: var(--mobile-standard-padding);

}
.benefit__title {
  color: white;
  text-align: center;
  margin: 24px 0;
  font-size: 1.2rem;
}
.benefit__elements {
  display: flex;
  flex-direction: column;
  gap: var(--mobile-gap);
  margin-bottom: 34px;
}
.benefit__element {
  background-color: var(--transparent-white);
  border-radius: 15px;
  padding: var(--mobile-standard-padding);
}
.benefit__element__number {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--purple);
}
.benefit__element__title{
    margin: 1rem 0;
    color: var(--purple);
}
.benefit__element__text{
    font-size: var(--mobile-text-size);
    line-height: var(--mobile-line-hight);
}
.benefit__element__button{
    background-color: var(--purple);
    line-height: 1em;
    }
/* ---------------- / BENEFIT ---------------- */
/* ---------------- ABOUT-US ---------------- */
.about-us{
    margin: 24px 0;
    padding: var(--mobile-standard-padding);
    display: flex;
    flex-direction: column;
    gap: var(--mobile-gap);
}
.about-us__content__title{
    color: var(--purple);
    font-size: 1.6rem;
}
.about-us__content__text{
    font-size: var(--mobile-text-size);
    line-height: 1.5rem;
    margin: 24px 0;
}
.about-us__front-man__img-wrapper{
    width: 70%;
}

.about-us__front-man__quote{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5rem;
    color: var(--purple);
}
.about-us__front-man__img{
    width: 100%;
    border-radius: 50%;
}
.about-us__front-man__text{
    color: var(--purple);
    font-size: 1.1rem;
}
.about-us__front-man__button{
    background-color: var(--purple);
    border-radius: 5px;
}
/* ---------------- / ABOUT-US ---------------- */
